node-red-demo/samples/demo_flow_uaa.json
[{"id":"dec917c5.2136e8","type":"px-uaa-config","z":"dcc6661.f233998","name":"UAA","uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"push1st1k","clientSecret":"push-secret"},{"id":"bd4ea7c2.42b158","type":"inject","z":"dcc6661.f233998","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":92,"wires":[["29cfb492.d6304c"]]},{"id":"8cef5831.7310a8","type":"debug","z":"dcc6661.f233998","name":"","active":true,"console":"false","complete":"false","x":596,"y":229,"wires":[]},{"id":"29cfb492.d6304c","type":"px-uaa-secured-http","z":"dcc6661.f233998","method":"GET","name":"test","endpoint":"https://predix-asset.run.aws-usw02-pr.ice.predix.io/locomotives/100500","predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899","_credentials":"dec917c5.2136e8","x":349,"y":165,"wires":[["8cef5831.7310a8"]]}]