node-red-demo/samples/demo_flow_assets_modify.json
[{"id":"3619161e.701c9a","type":"px-uaa-config","z":"8ccb4157.cc612","name":"UAA","uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"push1st1k","clientSecret":"push-secret"},{"id":"57ffd413.92effc","type":"px-assets-service-config","z":"8ccb4157.cc612","name":"Common Assets","url":"https://predix-asset.run.aws-usw02-pr.ice.predix.io","predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899"},{"id":"313e343b.d384cc","type":"inject","z":"8ccb4157.cc612","name":"","topic":"","payload":"[{  \"uri\": \"/locomotives/100500\", \"type\": \"Diesel-electric+\", \"model\": \"ES44AC\", \"serial_no\": \"001\", \"emission_tier\": \"0+\", \"fleet\": \"/fleets/up-1\", \"manufacturer\": \"/manufacturers/GE\", \"engine\": \"/engines/v12-1\", \"installedOn\": \"01/12/2005\", \"dateIso\": \"2005-12-01T13:15:31Z\", \"hqLatLng\": { \"lat\": 33.914605, \"lng\": -117.253374 } }, {  \"uri\": \"/locomotives/100501\", \"type\": \"Diesel-electric+\", \"model\": \"ES44AC\", \"serial_no\": \"001\", \"emission_tier\": \"0+\", \"fleet\": \"/fleets/up-1\", \"manufacturer\": \"/manufacturers/GE\", \"engine\": \"/engines/v12-1\", \"installedOn\": \"01/12/2005\", \"dateIso\": \"2005-12-01T13:15:31Z\", \"hqLatLng\": { \"lat\": 33.914605, \"lng\": -117.253374 } }]","payloadType":"json","repeat":"","crontab":"","once":false,"x":222,"y":116,"wires":[["b4d736b7.5f7458","19ad16f1.2acb39"]]},{"id":"b4d736b7.5f7458","type":"px-assets-modify","z":"8ccb4157.cc612","name":"Create Asset","service":"57ffd413.92effc","mode":"create","_credentials":"3619161e.701c9a","x":373,"y":203,"wires":[]},{"id":"664e922c.b60eac","type":"inject","z":"8ccb4157.cc612","name":"","topic":"","payload":"{     \"uri\": \"/locomotives/1\",     \"type\": \"Diesel-electric\",     \"model\": \"ES44AC\",     \"serial_no\": \"001\",     \"emission_tier\": \"0+\",     \"fleet\": \"/fleets/up-1\",     \"manufacturer\": \"/manufacturers/GE\",     \"engine\": \"/engines/v12-1\",     \"installedOn\": \"01/12/2005\",     \"dateIso\": \"2005-12-01T13:15:31Z\",     \"hqLatLng\": {       \"lat\": 33.914605,       \"lng\": -117.253374     }   }","payloadType":"json","repeat":"","crontab":"","once":false,"x":206,"y":292,"wires":[["95b5bf5a.86083","f4da8ec0.d5971"]]},{"id":"95b5bf5a.86083","type":"px-assets-modify","z":"8ccb4157.cc612","name":"Update Asset","service":"57ffd413.92effc","mode":"update","_credentials":"3619161e.701c9a","x":379,"y":379,"wires":[]},{"id":"19ad16f1.2acb39","type":"debug","z":"8ccb4157.cc612","name":"","active":true,"console":"false","complete":"false","x":392.5,"y":117,"wires":[]},{"id":"f4da8ec0.d5971","type":"debug","z":"8ccb4157.cc612","name":"","active":true,"console":"false","complete":"false","x":388.5,"y":295,"wires":[]},{"id":"d3930d58.14bdd","type":"inject","z":"8ccb4157.cc612","name":"","topic":"","payload":"{  \"uri\": \"/locomotives/1\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":209,"y":460,"wires":[["ff8672e3.70167","7bb50b3c.952164"]]},{"id":"ff8672e3.70167","type":"px-assets-modify","z":"8ccb4157.cc612","name":"Delete Asset","service":"57ffd413.92effc","mode":"delete","_credentials":"3619161e.701c9a","x":372,"y":547,"wires":[]},{"id":"7bb50b3c.952164","type":"debug","z":"8ccb4157.cc612","name":"","active":true,"console":"false","complete":"false","x":391.5,"y":463,"wires":[]}]
