node-red-demo/samples/demo_assets_query.json
[{"id":"cfc1b1db.303e5","type":"px-uaa-config","z":"990070e4.430aa","name":"UAA","uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"push1st1k","clientSecret":"push-secret"},{"id":"174f3cc9.e8b0c3","type":"px-assets-service-config","z":"990070e4.430aa","name":"Common Assets","url":"https://predix-asset.run.aws-usw02-pr.ice.predix.io","predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899"},{"id":"b98bc120.46744","type":"px-assets-query","z":"990070e4.430aa","name":"Query Assets","service":"174f3cc9.e8b0c3","model":"locomotives","_credentials":"cfc1b1db.303e5","x":314,"y":142,"wires":[["f76f247c.0890d8"]]},{"id":"f76f247c.0890d8","type":"debug","z":"990070e4.430aa","name":"","active":true,"console":"false","complete":"false","x":535.5,"y":197,"wires":[]},{"id":"523a86dc.adc578","type":"inject","z":"990070e4.430aa","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":120.5,"y":79,"wires":[["b98bc120.46744"]]}]
