vending-node-red/samples/demo_flow_uaa_inbound.json
[{"id":"187578f9.21c8d7","type":"px-uaa-secured-http-inbound","z":"8f69d2b3.3173","method":"get","name":"","url":"/hello","predixZoneId":"e77d5d1c-8ed4-4e3b-baa8-2634a7866899","uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"push1st1k","clientSecret":"push-secret","authorities":"uaa.resource","x":163,"y":95,"wires":[["6ba5c2b5.fcad5c"]]},{"id":"9ded13dc.616d7","type":"debug","z":"8f69d2b3.3173","name":"","active":true,"console":"false","complete":"true","x":506,"y":209,"wires":[]},{"id":"6ba5c2b5.fcad5c","type":"function","z":"8f69d2b3.3173","name":"","func":"msg.res.send({id:1});\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":147,"wires":[["9ded13dc.616d7"]]}]