vending-node-red/samples/demo_flow.json
[{"id":"eafaa397.15056","type":"px-uaa-config","z":"8c2bb2ab.73d45","name":"mvp3_ref_app","uaaUrl":"https://8ba3b6e3-712f-4de5-b6cd-248e6b370507.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"mvp3_ref_app","clientSecret":"mvp3ref@pp"},{"id":"2eb12503.d14eda","type":"http in","z":"8c2bb2ab.73d45","name":"Temperature WS","url":"/ingest","method":"get","swaggerDoc":"","x":106,"y":121,"wires":[["9330d5d1.6ccf28","da0fc202.25f04","75dbf0a9.8a241"]]},{"id":"e630f5c0.19cf08","type":"inject","z":"8c2bb2ab.73d45","name":"","topic":"","payload":"{\"messageId\":\"Sun Feb 14 2016 16:38:04 GMT-0800 (PST)\",\"body\":[{\"name\":\"Compressor-2016:Temperature\",\"datapoints\":[[1455496684634,176.877969,3],[1455496684635,177.877969,3],[1455496684636,100,3],[1455496684637,172.877969,3]]}]}","payloadType":"str","repeat":"","crontab":"","once":false,"x":638,"y":51,"wires":[["c93310fa.36ccf"]]},{"id":"9330d5d1.6ccf28","type":"function","z":"8c2bb2ab.73d45","name":"Prepare Data","func":"const datapoints = {\n    \"messageId\": new Date().toString(),\n    \"body\":[{\n        \"name\": \"Compressor-2015:Temperature\",\n        \"datapoints\":[\n            [+ new Date(), msg.payload.temperature, 3]\n        ]\n    }]\n};\nreturn { payload: datapoints };","outputs":1,"noerr":0,"x":379,"y":121,"wires":[["c93310fa.36ccf"]]},{"id":"f41cc6c6.0be338","type":"e-mail","z":"8c2bb2ab.73d45","server":"smtp.gmail.com","port":"465","name":"ilya.drabenia@ge.com","dname":"Send Alert","x":647,"y":208,"wires":[]},{"id":"da0fc202.25f04","type":"switch","z":"8c2bb2ab.73d45","name":"Check Health","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"}],"checkall":"true","outputs":1,"x":387,"y":207,"wires":[["f41cc6c6.0be338"]]},{"id":"75dbf0a9.8a241","type":"http response","z":"8c2bb2ab.73d45","name":"WS Response","x":387,"y":294,"wires":[]},{"id":"c93310fa.36ccf","type":"px-timeseries-ingest","z":"8c2bb2ab.73d45","name":"Ingest to TS","url":"wss://gateway-predix-data-services.run.aws-usw02-pr.ice.predix.io/v1/stream/messages","predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93","_credentials":"eafaa397.15056","x":647,"y":121,"wires":[]},{"id":"88cee02b.77312","type":"debug","z":"8c2bb2ab.73d45","name":"","active":true,"console":"false","complete":"false","x":644,"y":456,"wires":[]},{"id":"2d44b693.d2bb4a","type":"px-timeseries-query","z":"8c2bb2ab.73d45","name":"Query TS","url":"https://time-series-store-predix.run.aws-usw02-pr.ice.predix.io","predixZoneId":"d5e2dcb6-b24c-4f83-9b25-033bada3aa93","_credentials":"eafaa397.15056","x":359,"y":456,"wires":[["88cee02b.77312"]]},{"id":"30f1119c.cf0eee","type":"inject","z":"8c2bb2ab.73d45","name":"","topic":"","payload":"{    \"start\": -1,   \"tags\": [{ \"name\": \"Compressor-2015:Temperature1\", \"limit\": 1000 }]  }","payloadType":"json","repeat":"","crontab":"","once":false,"x":103,"y":456,"wires":[["2d44b693.d2bb4a"]]}]
