vending-node-red/samples/demo_flow_uaa_ws.json
[{"id":"7e7f29c0.5b3a08","type":"px-uaa-secured-ws-client","z":"4457337b.9861ec","path":"ws://localhost:1880/hello","wholemsg":"false"},{"id":"ef8bd2c1.e4e9","type":"px-uaa-config","z":"4457337b.9861ec","name":"uaa","uaaUrl":"https://3b41018c-63cb-4d2d-8725-5589de092291.predix-uaa.run.aws-usw02-pr.ice.predix.io","clientId":"push1st1k","clientSecret":"push-secret"},{"id":"fe1badf1.48913","type":"px-uaa-secured-ws-listener","z":"4457337b.9861ec","path":"/hello","wholemsg":"false"},{"id":"99f78fbb.2af2d","type":"debug","z":"4457337b.9861ec","name":"","active":true,"console":"false","complete":"false","x":415,"y":119,"wires":[]},{"id":"87573a2b.8cac78","type":"inject","z":"4457337b.9861ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154,"y":195,"wires":[["8def1e67.4dba8"]]},{"id":"27471818.40c208","type":"px-uaa-secured-ws-inbound","z":"4457337b.9861ec","name":"","server":"fe1badf1.48913","client":"","_credentials":"ef8bd2c1.e4e9","authorities":"","x":151,"y":124,"wires":[["99f78fbb.2af2d"]]},{"id":"8def1e67.4dba8","type":"px-uaa-secured-ws-outbound","z":"4457337b.9861ec","name":"","server":"","client":"7e7f29c0.5b3a08","_credentials":"ef8bd2c1.e4e9","authorities":"","x":445,"y":200,"wires":[]}]